.mainBody {
  width: 100%;
  position: relative;
}

.empTable {
  width: 60%;
  margin: 10px auto;
}

.main {
  height: 50px;
}
.addNew{
  width:100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}