.extra-content {
  transform: scale(1.5);
  margin: 3rem;
}
.leave-list-body {
  margin-right: 1rem;
  padding: 1rem 2rem;
  /* border: 2px 0 0 0 dashed palevioletred; */
  border-radius: 5px;
  width: 80%;
}
.leave-list-title {
  font-size: 3rem;
  line-height: 5rem;
}
.avatar-pic {
  transform: scale(1.5);
  background: rgb(64, 121, 62);
}
.apply-leave-box {
  width:100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-new-card {

}